{% extends 'dashboard_base.html' %} {% block content %}
<div class="bg-dark"
  align="center"
  style="width: 175px;height:auto;margin-top:50px;box-shadow:0px 5px 5px rgba(0,0,0,0.3);border-radius:0px 50px 50px 0px;">
  <p class="p-1" style="font-size:24px;color:#ffffff;margin:5px auto;text-decoration:none"><span>Inventory</span></p>
</div>

<div class="row" style="margin-top:10px;">
  <div
    class=" ml-5 mt-2 card"
    style="height:110px;width:260px;background:#1976D2; border-radius:2px;"
  >
    <div class="row" style="margin:auto">
      <div class="col">
        <p class="card-text text-light ml-2 mt-2" style="font-size:large;">
          LS Stage 1
        </p>
      </div>
      <div class="col">
        <i
          class="fas fa-flask ml-5 mt-3 "
          style="font-size:40px;opacity:0.7"
        ></i>
      </div>
    </div>
    <div align="center" class="col mt-4" style="background: #1565C0;">
      <a class="text-light" style="text-decoration:none;" href="{{url_for('inventory.ls_stage_1')}}"
        >More Info<i class="far fa-arrow-alt-circle-right ml-3"></i
      ></a>
    </div>
  </div>
  <div
    class="ml-5 mt-2 card"
    style="height:110px;width: 260px; background:#03A9F4;border-radius:2px;"
  >
    <div class="row" style="margin:auto">
      <div class="col">
        <p class="card-text text-light ml-2 mt-2" style="font-size:large;">
          LS Stage 2
        </p>
      </div>
      <div class="col">
        <i
          class="fas fa-syringe ml-5 mt-3"
          style="font-size:40px;opacity:0.7"
        ></i>
      </div>
    </div>
    <div align="center" class="col mt-4" style="background: #0288D1;">
      <a class="text-light" style="text-decoration:none;" href="{{url_for('inventory.ls_stage_2')}}"
        >More Info<i class="far fa-arrow-alt-circle-right ml-3"></i
      ></a>
    </div>
  </div>
  <div
    class="ml-5 mt-2 card"
    style="height:110px;width: 260px;background:#26C6DA ;border-radius:2px;"
  >
    <div class="row" style="margin:auto">
      <div class="col">
        <p class="card-text text-light ml-2 mt-2" style="font-size:large;">
          Livo Ester
        </p>
      </div>
      <div class="col">
        <i
          class="fas fa-capsules ml-5 mt-3"
          style="font-size:40px;opacity:0.7"
        ></i>
      </div>
    </div>

    <div align="center" class="col mt-4" style="background: #0097A7;">
      <a class="text-light" style="text-decoration:none;" href="{{url_for('inventory.livo_ester')}}"
        >More Info<i class="far fa-arrow-alt-circle-right ml-3"></i
      ></a>
    </div>
  </div>
  <div
    class="ml-5 mt-2 card"
    style="height:110px;width: 260px;background:#FF5722;border-radius:2px;"
  >
    <div class="row" style="margin:auto">
      <div class="col">
        <p class="card-text text-light ml-2 mt-2" style="font-size:large;">
          Fexo
        </p>
      </div>
      <div class="col">
        <a
          ><i
            class="fas fa-tablets ml-5 mt-3"
            style="font-size:40px;opacity:0.7"
          ></i
        ></a>
      </div>
    </div>
    <div align="center" class="col mt-4" style="background: #E64A19;">
      <a class="text-light" style="text-decoration:none;" href="#"
        >More Info<i class="far fa-arrow-alt-circle-right ml-3"></i
      ></a>
    </div>
  </div>
</div>
{% endblock %}
