{% extends 'dashboard_base.html' %} {% block content %}
<div class="row">
  <div
    class="col-8 shadow rounded bg-white"
    style="margin-left: 25px; margin-top:40px"
  >
    <h3 class="display-4" style="font-size:xx-large;text-align:center">
      Recently Generated Bills
    </h3>

    <table class="table table-hover">
      <tr align="center">
        <td>Name of Bill</td>
        <td>Date of Bill</td>
        <td>Date of Reminder</td>
      </tr>
      {% for i in entries %}
      <tr align="center">
        <td>{{i.name}}</td>
        <td>{{i.date}}</td>
        <td>{{i.reminder_date}}</td>
      </tr>
      {% endfor %}
    </table>
    {{pagination.links}}

  </div>
  <div
    align="center"
    class="col-3 p-0 shadow"
    style="margin-left: 25px; margin-top:40px;width:min-content;height:min-content;overflow:auto"
  >
    <div class="p-3 shadow rounded bg-white">
      <h3 class="display-4 " style="font-size: x-large;padding-bottom:5px;">
        Upcoming Reminders
      </h3>
      <table class="table table-hover">
        <tr align="center">
          <td>Buyer Name</td>
          <td>Due Date</td>
        </tr>
        {% for i in update_entries %}
        <tr align="center">
          <td>{{i.buyer_name}}</td>
          <td>{{i.reminder_date}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="mt-2 p-3 shadow rounded bg-white ">
      <h3 class="display-4" style="font-size: x-large;text-align:center">
        Generate New Bill & Challan
      </h3>
      <a
        class="btn btn-outline-success"
        style="padding: 10px;margin-bottom:10px"
        href="{{url_for('bills.generate_bill')}}"
        >New Bill</a
      >
    </div>
    <div class="p-3 mt-2 shadow rounded bg-white">
      <h3 class="display-4" style="font-size:x-large;text-align:center;">
        Generate only Challan
      </h3>
      <a
        class="btn btn-outline-success"
        style="padding: 10px;margin-bottom:10px"
        href="{{url_for('bills.generate_challan')}}"
        >New Challan</a
      >
    </div>
  </div>
</div>

{% endblock %}
