alembic==0.9.9
amqp==2.5.2
astroid==2.2.5
autopep8==1.4.4
Babel==2.7.0
backports.functools-lru-cache==1.6.1
bcrypt==3.1.7
beautifulsoup4==4.8.1
billiard==3.6.1.0
blinker==1.4
CacheControl==0.12.5
cachetools==3.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.3.0
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
click==6.7
colorama==0.4.1
cssselect2==0.2.2
defusedxml==0.6.0
entrypoints==0.3
flake8==3.7.8
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-Dance==2.2.0
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-OAuth==0.12
Flask-OAuthlib==0.9.4
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.3.2
Flask-Table==0.5.0
Flask-WkHTMLtoPDF==0.1.0
Flask-WTF==0.14.2
fpdf==1.7.2
gcloud==0.18.3
google-api-core==1.13.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.2
google-cloud-firestore==1.3.0
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
grpcio==1.22.0
gunicorn==20.0.4
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
imgkit==1.0.2
importlib-metadata==1.2.0
isort==4.3.21
itsdangerous==0.24
Jinja2==2.10
jws==0.1.3
kombu==4.6.7
lazy==1.3
lazy-object-proxy==1.4.1
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==8.0.2
msgpack==0.6.1
numpy==1.17.4
oauth2==1.9.0.post1
oauth2client==4.1.2
oauthlib==2.0.7
pandas==0.25.3
pdfkit==0.6.1
Pillow==6.1.0
protobuf==3.9.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.8.2
pyflakes==2.1.1
pylint==2.3.1
pylint-flask==0.6
pylint-plugin-utils==0.5
pylint-sqlalchemy==0.2.0
pymongo==3.8.0
PyPDF2==1.26.0
Pyphen==0.9.5
pypugjs==5.8.1
Pyrebase4==4.3.0
python-dateutil==2.7.2
python-editor==1.0.3
python-jwt==2.0.1
pytz==2019.1
reportlab==3.5.32
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==4.0
six==1.11.0
soupsieve==1.9.5
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
tinycss2==1.0.2
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.22
URLObject==2.4.3
vine==1.3.0
WeasyPrint==50
webencodings==0.5.1
Werkzeug==0.15.3
wincertstore==0.2
wrapt==1.11.2
WTForms==2.1
xhtml2pdf==0.2.3
zipp==0.6.0
