.miscellaneous{
  height: auto;
  width: 1100px;
  margin-top:120px;
  margin-left:85px;
  background:#ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;mix-blend-mode:normal;
}

.mic-table-info{
  margin-top: 20px;
  font-size: 28px;
  font-family: Ubuntu, sans-serif;
}

.info-table{
  width: min-content;
  text-align: center;
  font-size: 24px;
}

.demo:hover{
  background-color:black;
}


.graph-info{
  font-size: 24px;
}