{% extends 'accounts_index.html' %} {% block account %}
<div
  class="row miscellaneous" style="margin-top: 30px;"
>
  <div class="col" align="center">
    <p style="font-size: 24px;margin-top:20px;">
      Expenses : {{month}}
    </p>
    <table class="table table-hover">
      <thead align="center" style="font-size: 20px;">
        <td>Expense Categories</td>
        <td>Expense Amount</td>
      </thead>
      {% for key,value in table_values.items() %}
      <tr align="center" style="font-size: 18px;">
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col">
    <canvas id="piechart" height="250"></canvas>
    <script>
      Chart.defaults.global.responsive = true;
      var config = {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
          datasets: [{
              data: [{% for i in values %}{{i}},
              {% endfor %}],
              backgroundColor:[{% for i in colors %} '{{i}}',
              {% endfor %}],
              label:'{{legend}}'
          }],
          labels:[{% for i in labels %} "{{i}}",
          {%endfor%}]
        },

        // Configuration options go here
        options: {
          fontSizeL: 20,
          legend: {
            display: true,
            position: 'bottom',
            labels: {
              fontColor: "#000080",
            }
          },
          title:{
            display:true,
            text:'Expense && Profit Pie-Chart',
            position:'top',
            fontSize:20
          },
          layout: {
            padding: {
                left: 0,
                right: 0,
                top: 50,
                bottom: 0
            }
        }
        }
      }
      var ctx = document.getElementById('piechart').getContext('2d');
      var myPiechart = new Chart(ctx,config);
    </script>
  </div>
</div>

<div
  class="row miscellaneous" style="margin-top: 30px; margin-bottom:30px"
>
  <div class="col p-1">
    <p style="font-size: 22px;text-align:center">Add Expense</p>
    <form
      align="center"
      method="POST"
      class="form-group"
    >
      {{form.hidden_tag()}}
      <div class="form-inline p-0 m-0">
        <div class="form-group p-1 ml-3">
          {{form.category.label}} {{form.category(class="form-control")}}
        </div>
        <div class="form-group p-1 pl-4">
          {{form.amount.label}} {{form.amount(placeholder='Expense Amount...',class="form-control")}}
        </div>
        <div class="form-group p-1 pl-4">
          {{form.expense_message.label}}
          {{form.expense_message(placeholder='Expense message...',class="form-control")}}
        </div>
        <div class="form-group p-1 pl-4">
          {{form.date.label}} {{form.date(class="form-control")}}
        </div>
        <div class="form-group">
          {{form.update(class="btn btn-info ml-3")}}
        </div>
      </div>
      <div class="col" style="margin-top: 10px;">
        
      </div>
    </form>
  </div>
</div>
{% endblock %}
